{% if post.thumbnail %}
<figure class="overlay overlay1 rounded mb-30">
  <a href="/blogs/{{post.slug}}"
    ><img
      class="post-thumb"
      src="{{post.thumbnail.fields.file.url}}"
      alt="{{post.title}}"
  /></a>
  <figcaption>
    <h5 class="from-top mb-0">Read More</h5>
  </figcaption>
</figure>
{% endif %}
<h2 class="post-title"><a href="/blogs/{{post.slug}}">{{post.title}}</a></h2>
<div class="post-content">
  <p>{{post.content | strip_html | truncatewords: 25}}</p>
</div>
<!-- /.post-content -->
<div class="meta mb-0">
  {% if post.date %}
  <span class="date"
    ><i class="jam jam-clock"></i>{{post.date | date_to_string}}</span
  >
  {% endif %}
</div>
